/*--------------
    RESET
 --------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------
    COMMON
 --------------*/
.container {
    max-width: 1200px;
    margin: auto;
}

 /*--------------
    DEBUG
 --------------*/
.debug header{
    background-color: #add8e6;
}

.debug .header-top{
    background-color: #daa520;
}

.debug .header-bottom{
    background-color: #00008b;
}

.debug .cont-bot{
    background-color: #ee82ee;
    width: 900px;
    height: 400px;
    margin: auto;
    border: 2px dashed black;
}

.debug .col{
    height: 500px;
}

.debug #col-big{
    background-color: #1e90ff; 
    width: 70%;
    border: 2px dashed black;
}

.debug #col-small{
    background-color: #ffc0cb;
    width: 30%;
    border: 2px dashed black;
}

.debug .last-section{
    height: 900px;
    background-color: #228b22;
}

.debug #last-section-small{
    width: 30%;
    border: 2px dashed black;
}

.debug #last-section-big{
    width: 70%;
    border: 2px dashed black;
}

.debug .foot-col{
    height: 550px;
    background-color: #20b2aa;
    flex-grow: 1;
    border: 2px dashed white;
}

.debug #foot-col-double{
    height: 550px;
    background-color: #f08080;
    flex-grow: 2;
    border: 2px dashed black;
}

/*--------------
    HEAD
 --------------*/
header{
    padding-top: 15px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    margin-bottom: 15px;
}

.header-bottom{
    padding: 50px;
}

 /*--------------
    MAIN
 --------------*/
.container .row{
    display: flex;
    padding: 50px 0;
}

main section:nth-child(even){
    background-color: #d3d3d3;
}

 /*--------------
    FOOTER
 --------------*/
 footer{
    background-color: #23272a;
 }

.container .footer-top{
    display: flex;
    padding: 10px 0 50px 0;
}